---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import { Image } from "astro:assets";
import blast from "../assets/images/blast.jpg";
import dans from "../assets/images/dans.jpg";
import keys from "../assets/images/keys.jpg";
import guitar from "../assets/images/guitar.jpg";
import flerekeys from "../assets/images/flerekeys.jpg";
import konc1 from "../assets/images/konc1.jpg";
import konc2 from "../assets/images/konc2.jpg";
import konc3 from "../assets/images/konc3.jpg";	
import konc4 from "../assets/images/konc4.jpg";
import konc5 from "../assets/images/konc5.jpg";
import konc6 from "../assets/images/konc6.jpg";
import konc7 from "../assets/images/konc7.jpg";
import konc8 from "../assets/images/konc8.jpg";
import konc9 from "../assets/images/konc9.jpg";
import konc10 from "../assets/images/konc10.jpg";
import konc11 from "../assets/images/konc11.jpg";
import konc12 from "../assets/images/konc12.jpg";	
import konc13 from "../assets/images/konc13.jpg";			
import konc14 from "../assets/images/konc14.jpg";
import konc15 from "../assets/images/konc15.jpg";
---
<MainLayout title="Titel">
	<main class="container mx-auto p-4 md:p-8 mt-10"">
	
		<section class="pb-40">
		<h1 class="font-display text-7xl pb-20"> Nedtæller <br> Hvis vi kan nå</h1>
		<h3 class="font-sans text-2xl max-w-200"> October 18 is Instant Day. 
A day all about celebrating instant photography. 
So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</h3>
		<div class="text-2xl pt-2">&darr;</div>
</section>

		<section>
		<h2 class="font-display text-3xl"> Instant day 2025</h2>
		<p class="font-sans max-w-200"> October 18 is Instant Day. 
A day all about celebrating instant photography. 
So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</p>
		</section>
					
		</section>

		<section class="container max-w-xl mx-auto p-4 mt-20">
			<Heading htmlheading="h2" size="medium" font="display">Om os</Heading>
			<Text stylingclasses="max-w-2xl">Livløs er et synthwave band fra København, der spiller prætentiøs synthwave. Vi har spillet sammen siden 2020 og har udgivet to albums og en EP. Vi spiller live i hele Danmark og har en stor fanskare.</Text>
			<Text stylingclasses="max-w-2xl">Vi elsker at spille live og møde vores fans. Vi håber at se dig til vores næste koncert!</Text>
		</section>

		<section class="container mx-auto p-4 mt-20">
			<div class="md:columns-3">
				<Image src={konc1} alt="Konc1" class="w-full h-auto mb-4" />
				<Image src={konc2} alt="Konc2" class="w-full h-auto mb-4" />
				<Image src={konc3} alt="Konc3" class="w-full h-auto mb-4" />
				<Image src={konc4} alt="Konc4" class="w-full h-auto mb-4" />		
				<Image src={konc5} alt="Konc5" class="w-full h-auto mb-4" />
				<Image src={konc6} alt="Konc6" class="w-full h-auto mb-4" />
				<Image src={konc7} alt="Konc7" class="w-full h-auto mb-4" />
				<Image src={konc8} alt="Konc8" class="w-full h-auto mb-4" />
				<Image src={konc9} alt="Konc9" class="w-full h-auto mb-4" />
				<Image src={konc10} alt="Konc10" class="w-full h-auto mb-4" />
				<Image src={konc11} alt="Konc11" class="w-full h-auto mb-4" />
				<Image src={konc12} alt="Konc12" class="w-full h-auto mb-4" />
				<Image src={konc13} alt="Konc13" class="w-full h-auto mb-4" />
				<Image src={konc14} alt="Konc14" class="w-full h-auto mb-4" />
				<Image src={konc15} alt="Konc15" class="w-full h-auto mb-4" />
			</div>
		</section>
	</main>
</MainLayout>