---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import { Image } from "astro:assets";
import blast from "../assets/images/blast.jpg";
import dans from "../assets/images/dans.jpg";
import keys from "../assets/images/keys.jpg";
import guitar from "../assets/images/guitar.jpg";
import flerekeys from "../assets/images/flerekeys.jpg";
import konc1 from "../assets/images/konc1.jpg";
import konc2 from "../assets/images/konc2.jpg";
import konc3 from "../assets/images/konc3.jpg";	
import konc4 from "../assets/images/konc4.jpg";
import konc5 from "../assets/images/konc5.jpg";
import konc6 from "../assets/images/konc6.jpg";
import konc7 from "../assets/images/konc7.jpg";
import konc8 from "../assets/images/konc8.jpg";
import konc9 from "../assets/images/konc9.jpg";
import konc10 from "../assets/images/konc10.jpg";
import konc11 from "../assets/images/konc11.jpg";
import konc12 from "../assets/images/konc12.jpg";	
import konc13 from "../assets/images/konc13.jpg";			
import konc14 from "../assets/images/konc14.jpg";
import konc15 from "../assets/images/konc15.jpg";
---
<MainLayout title="Titel">
	<main class="container mx-auto p-4 md:p-8 mt-10"">
	
		<section class="pb-40">
		<h1 class="font-display text-7xl pb-20"> Nedtæller <br> el. overskrift</h1>
		<h3 class="font-sans text-2xl max-w-200"> October 18 is Instant Day. 
A day all about celebrating instant photography. 
So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</h3>
		<div class="text-2xl pt-2">&darr;</div>
</section>

		<section>
		<h2 class="font-display text-3xl"> Instant day 2025</h2>
		<p class="font-sans max-w-200 pb-20"> October 18 is Instant Day. 
A day all about celebrating instant photography. 
So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</p>

<div class="space-y-6">
  <div class="flex items-center gap-4">
    <img src="/one.png" alt="Step 1" class="w-14 h-14">
    <p class="max-w-prose">
      Take a photo of your instant with your smartphone (or scan it for max. quality) - the file should be between 2 - 10 MB, in jpg/jpeg or webp format.
    </p>
  </div>

  <div class="flex items-center gap-4">
    <img src="/two.png" alt="Step 2" class="w-14 h-14">
    <p class="max-w-prose">
      Upload your photo and credentials on 
      <a href="/upload" class="text-blue-600 underline">this page</a>.
    </p>
  </div>

  <div class="flex items-start gap-4">
    <img src="/three.png" alt="Step 3" class="w-14 h-14">
    <p class="max-w-prose">
      Agree to our terms and conditions 
      <a href="/share-your-instants#terms" class="text-blue-600 underline">here</a>. 
      The short version: Participants have to be 18+, portrayed persons must have given consent, and you agree that your instant can be exhibited and used to promote the photo contest.
    </p>
  </div>

  <div class="flex items-center gap-4">
    <img src="/four.png" alt="Step 4" class="w-14 h-14">
    <p class="max-w-prose">
      You can make up to 5 submissions - go through step 1-3 for each submission ;-)
    </p>
  </div>

	
		</section>
					
		</section>

	

		<section class="container mx-auto p-4 mt-20">
			<div class="md:columns-3">
				<Image src={konc1} alt="Konc1" class="w-full h-auto mb-4" />
				<Image src={konc2} alt="Konc2" class="w-full h-auto mb-4" />
				<Image src={konc3} alt="Konc3" class="w-full h-auto mb-4" />
				<Image src={konc4} alt="Konc4" class="w-full h-auto mb-4" />		
				<Image src={konc5} alt="Konc5" class="w-full h-auto mb-4" />
				<Image src={konc6} alt="Konc6" class="w-full h-auto mb-4" />
				<Image src={konc7} alt="Konc7" class="w-full h-auto mb-4" />
				<Image src={konc8} alt="Konc8" class="w-full h-auto mb-4" />
				<Image src={konc9} alt="Konc9" class="w-full h-auto mb-4" />
				<Image src={konc10} alt="Konc10" class="w-full h-auto mb-4" />
				<Image src={konc11} alt="Konc11" class="w-full h-auto mb-4" />
				<Image src={konc12} alt="Konc12" class="w-full h-auto mb-4" />
				<Image src={konc13} alt="Konc13" class="w-full h-auto mb-4" />
				<Image src={konc14} alt="Konc14" class="w-full h-auto mb-4" />
				<Image src={konc15} alt="Konc15" class="w-full h-auto mb-4" />
			</div>
		</section>
	</main>
</MainLayout>